// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Nos couleurs:
$redlogo: #FF5A6D;
$grey-background: #eff2f5;
$greyblue-background: #c7d6e5;
$yellow: #EFB056;
$yellow-background: #f7d78e;
$orange: #f58f4f;
$bleunight: #2D3C4B;
