
<div class="container-cards">
  <% @costumes.each do |costume| %>
    <%= link_to costume_path(costume) do %>
      <div class="card">
        <ul class="list-style">
          <div class="face left-card">
            <%# <%= cl_image_tag(costume.photo.key, height: 350, width: 175, crop: :fill) %>
            <%= cl_image_tag(costume.photo.key, height: 350, width: 175, crop: :fill) %>
          </div>
          <div class="face right-card">
              <li><p><strong><%= costume.name %></strong></p></li>
          </div>
        </ul>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
