body, html {
  width: 100%;
  background: white;
  position: relative;
  min-height: 100vh;
  background-color: $grey-background;
}
.banner {
  padding: 150px 0;
  min-height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  // background-position: center;
}
.container {
  margin-top: -65px;
  margin-left: 46px;
}
.title-home {
  font-family: roboto, sans-serif;
  font-weight: 900;
  color: white;
  font-size: 124px;
  letter-spacing: -9px;
}
.slogan-home {
  font-family: roboto, sans-serif;
  letter-spacing: -4px;
  font-weight: 500;
  color: #2D3C4B;
  font-size: 49px;
}
.button-home {
  margin-top: 30px;
}
