// Specific CSS for your home-page
body, html {
  height: 100%;
  width: 100%;
  background: white;
  position: relative;
  min-height: 100vh;
}

.banner {
  padding: 150px 0;
  min-height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  // background-position: center;
}

.container {
  margin-top: -65px;
  margin-left: 46px;
}

.title-home {
  font-family: roboto, sans-serif;
  font-weight: 900;
  color: white;
  font-size: 124px;
  letter-spacing: -9px;
}

.slogan-home {
  font-family: roboto, sans-serif;
  letter-spacing: -4px;
  font-weight: 500;
  color: #2D3C4B;
  font-size: 49px;
}

.button-home {
  margin-top: 30px;
}


// .container-home {
//   min-height: 100vh;
//   object-fit: contain;
// }

// .img-home {
//   // position: absolute;
//   opacity: 0.90;
// }

// .text-home {
//   z-index: 1;
//   margin: 30px;
// }
// banner

// .text-home {
//   margin-top: 14px;
// }

// .container-home{
//   margin-left: 15px;
// }

// .banner {
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   padding: 250px 0;
// }

// .banner h1 {
//   color: white;
//   font-weight: 900;
//   font-size: 70px;
//   padding-bottom: 25px;
// }

// .banner h3 {
//   color: white;
//   font-weight: 200;
//   font-size: 30px;
//   padding-bottom: 15px;
// }
