.titre-index {
  padding: 42px;
  margin-left: 64px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  color: #2D3C4B;
  font-size: 52px;
  letter-spacing: -4px;
  margin-bottom: -120px;
  padding-bottom: 0px;
  margin-bottom: -86px;
}
