.body-show {
  // background-color: white;
}

.container-show {
  background-color: white;
  border-color: $bleunight;
  display: flex;
  justify-content: space-evenly;
}

.title-show {
  padding: 42px;
  margin-left: 64px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  color: #2D3C4B;
  font-size: 52px;
  letter-spacing: -4px;
  margin-bottom: 39px;

}

.container-left {
  // background-color: red;
  display: flex;

  img {
    object-fit: contain;
    height: 50vh;
  }
}

.container-middle {
  background-color: #f7f7f9;
  border-radius: 16px;
  padding: 24px;
  width: 25%;
  margin-left: 50px;
  height: 50vh;

  .fiche-produit p {
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1px;
    color: $bleunight;
  }
}

.container-right {

  .form-label {
    font-size: 12px;
  }

  input {
    font-size: 12px;
  }

  h1 {
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1px;
    color: $bleunight;
    margin-bottom: 32px;
  }
}

.btn-show {
  display: inline-block;
  background-color: $bleunight;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 16px;
  text-decoration : none;
  width: 250px;
  height: 55px;
  text-align: center;
  border: none;

  &:hover {
    transition: margin-right 2s ease-in-out;
    background-color: $yellow;
    color: $bleunight;
  }
}
