<div class="footer">
  <div class="footer-copyright">
    <h2>DeguizBe</h2>
  </div>
  <footer>
    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#">FAQ</a>
      <a href="#">Contact</a>
      <a href="#">Mentions légales</a>
    </div>
  </footer>
</div>
