<%# <h1>DeguizBe</h1>
<p>Change de vie ... change d’habits!</p>

<button>Voir les déguisement</button>

<button>Louer mes déguisement</button> %>
<body>
  <!-- code a Hero / Banner section -->
    <div class="banner" style="background-image: url(https://burst.shopifycdn.com/photos/cats-eye-and-costume.jpg?width=1850&format=pjpg&exif=1&iptc=1);">
    <div class="container">
      <h1>DeguizBe</h1>
      <h3>Change de vie... change d’habits !</h3>
      </div class="btn-home">
        <%= link_to "Voir les déguisements", costumes_path %>
      <div>

      </div class="btn-home">
        <%= link_to "Louer mes déguisements", owner_costumes_path %>
      <div>

    </div>
  </div>

</body>
