.button-home {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.btn-home {
  background-color: $bleunight;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 16px;
  text-decoration : none;
  width: 250px;
  height: 55px;
  font-size: 12px;
  // padding: 19px 60px;
  // margin-left: 156px;

    a {
      color: white;
    }

    &:hover {
      transition: margin-right 2s ease-in-out;
      background-color: $yellow;
      color: $bleunight;
    }
}

.btn-home-costume {
  background-color: $bleunight;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 16px;
  text-decoration : none;
  width: 250px;
  height: 55px;
  font-size: 12px;
  padding: 19px 60px;
  margin-left: 156px;

    a {
      color: white;
      text-decoration: none;
    }

    i {
      text-decoration: none;
    }

    &:hover {
      transition: margin-right 2s ease-in-out;
      background-color: $yellow;
      color: $bleunight;
    }
}

.index-cost {
  margin-left: 200px;
}
