.button-home {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.btn-home {
  background-color: $bleunight;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 16px;
  text-decoration : none;
  width: 250px;
  height: 55px;
  font-size: 12px;

    &:hover {
      transition: margin-right 2s ease-in-out;
      background-color: $yellow;
      color: $bleunight;
    }
}
