.container-cards {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
  margin: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  // border: none !important;
  // width: 30%;
  border-radius: 16px;
  background-color: white;
  justify-content: center;
  padding: 0px;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  // position: relative;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.list-style {
  list-style-type: none;
  // margin-left: 0 auto;
  padding: 0;
  .left-card {
    text-align: center;
    padding: 15px;
  }
  .right-card {
    padding: 20px;
    text-align: center;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.title-index {
  padding: 30px;
  margin-left: 50px;
  color: black;
}

// Cards for SHOW
.card-show {
  border: solid 0.2px;
}

.card-title {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 56px;
  padding: 66px;
}
