.container-cards {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
  margin: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  border: none;
}

.face img {
  object-fit: scale-down;
  height: 40vh;

}

.list-style {
  list-style-type: none;
  padding: 0;

  .left-card {
    text-align: center;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 16px;
  }
  .right-card {
    padding: 20px;
    text-align: center;
    position: relative;

      a {
        text-decoration: none;
        color: white;
      }

      li {
        margin-top: 3px;
      }

      .index-card-title {
        color: #2D3C4B;
        font-size: 16px !important;
        line-height: 20px;
        text-align: left;
      }

      li p {
        color: #49545c;
        font-size: 12px;
      }
  }
}

.text-card {
  text-align: left;
  line-height: normal;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-index {
  color: #EFB056;
}

.link-info {
  margin: 0;
  margin-top: 94px;
}


// Cards for SHOW
.card-show {
  border: solid 0.2px;
}

.card-title {
  display: flex;
  flex-direction: row;
  // box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 56px;
  padding: 66px;
}


// Cards for INDEX
