.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-right: 40px;
  padding-left: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

// .navbar-lewagon .nav-item {
//   display: flex;
//   align-items: center;
// }
.navbar-lewagon .nav-itemsignup {
  display: flex;
  align-items: center;
}

.navbar-lewagon .nav-itemlogin {
  background-color: $bleunight;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 16px;
  text-decoration : none;
}
.navbar-lewagon .nav-itemlogin:hover {
  background-color: $yellow;
}

.navbar-lewagon .nav-linklogin {
  color: white;
  text-decoration : none;
}

.font-nav {
  ul li {
    font-size: 12px;
    font-size: 12px;
    margin-top: 6px;
  }

  ul li:hover {
    font-size: 15px;
    font-weight: 700;
    transition: margin-right 2s ease-in-out;
  }
}

.nav-link {
  img {
    width: 60px
  }
}
