.box-resa {
  display: inline-block;
  align-items: center;
  justify-content: center;
  // border-radius: 16px;
  // background-color: white;
  // margin-top: 35px;
  // min-height: 90vh;
  // margin: 50px;
  // border-radius: 16px !important;
  ;
 }

// .container-tabstwo {
//   border-radius: 16px;
//   background-color: white;
//   margin-top: 35px;
//   min-height: 90vh;
//   margin: 50px;
//   // border-radius: 16px !important;
//   ;
//  }

#myTab {
  background-color: none;
  border: none;
  // margin: 30px;
  ;
 }

#myTab li button {
  background-color: $bleunight;
  color:white;
  ;
 }

 #myTab li button.active  {
  background-color: $yellow;
  color: $bleunight;
  font-size:25px;
}
